
:root {
    /* Цвета */
    --bg-color: #f8f3f3;
    --primary-bg-color: #fc0;
    --primary-text-color: #000;

    //  --primary-hover-color: #205383;
    // --invert-primary-text-color: #f0f0f5;
    // --invert-primary-bg-color: #e9e9ef;
    // --error-primary-text-color: #e62a2a;

    // /* размеры устройств */
    // --laptop-l-plus: 1650px;
    // --laptop-width: 768px;
    // --mobile-width: 425px;
    // --small-mobile-width: 320px;

    // /*  UI размеры */
    // --header-height: 70px;
    // --sidebar-width: 250px;

    // /* FONTS */
    // --primary-text-size: 16px;
    // --primary-text-font-family: "Arial", sans-serif; 

}